body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* 
body > div[style*="position:fixed"],
body > div[style*="position: fixed"],
body > canvas[style*="position:fixed"],
body > canvas[style*="position: fixed"] {
  display: none !important;
} */

/* #stats, .stats, .dg.ac { 
  display: none !important; 
} */